/* ==
======
===============
=======================
=================================
==========================================
================================================
COMMON CSS
================================================
==========================================
=================================
=======================
===============
=======
== */


*{
margin: 0;
padding: 0;
outline: 0;
}


.container{
    max-width: 960px;
    width: 96%;
    margin: 0 auto;
}

img{
    width:100%;
    height: auto;
}






/* ==
======
===============
=======================
=================================
==========================================
================================================
Header Area CSS
================================================
==========================================
=================================
=======================
===============
=======
== */


#header_area{
    background: #290000;
    border-top: 5px solid #76c38f;
}



.inner_header{
    padding-top: 20px;
    
}

.header{
    display: inline-flex;
}

.logo {
    width: 20%;
    padding-top: 20px;
    margin-right: 80px;
}
.logo img {
    width: 200px;
}



#main_menu {
    width: 80%;
    padding-top: 20px;
}
#main_menu ul{
    list-style: none;
    padding-bottom: 13px;
    text-align: right;
}
#main_menu ul li{
    display: inline-block;
    position:relative;
    padding: 12px 18px;

}
#main_menu ul li:hover{
    background: #76c38f;
    border-radius: 10px;
}

#main_menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    
}





/* DROPDWON MENU */

#main_menu ul li ul {
    width: 150px;
    height: auto;
    position:absolute;
    top:40px;
    left:-999999px;
    background: #29000073;
    z-index: 1;
    padding: 5px 0;
    text-align: center;
}
#main_menu ul li ul li{
    padding: 8px 10px;
}

#main_menu ul li ul li ul{
    position: absolute;
    top: 0;
    left: -999999px!important;
}

#main_menu ul li:hover ul {
    left:33px;
}

#main_menu ul li ul li:hover ul{
    left: 147px!important;
}






#main_menu ul li:hover{
    background: #76c38f;
    border-radius: 10px;
}








/* ==
======
===============
=======================
=================================
==========================================
================================================
Header Area CSS
================================================
==========================================
=================================
=======================
===============
=======
== */


.slider_area {
	padding-bottom: 10px;
    background: #290000;
}

.item{
    background: #290000;
    color: #fff;
}

.slider_text {
	width: 45%;
	float: left;
	padding-top: 7rem;
	padding-left: 4rem;
}
.slider_text h2 {
	font-size: 4rem;
	line-height: 1.0;
}
.slider_text p {
	font-size: 14px;
	padding: 20px 0 10px 0;
	line-height: 1.3;
}
.slider_text a {
	font-size: 16px;
	text-decoration: none;
	color: #76c38f;
    text-transform: uppercase;
}
.slider_text a:hover{
    color: #fff;
}


.slider_image {
	width: 33%;
	float: right;
	padding-right: 4rem;
	padding-top: 4rem;
}
.slider_image img {
	width: 90%;
	border: 18px solid #6b6b6b;
	border-radius: 50%;
}


.bx-wrapper {
	box-shadow: none;
	border: none;
	background: none;
}




/* ==
======
===============
=======================
=================================
==========================================
================================================
Service Area CSS
================================================
==========================================
=================================
=======================
===============
=======
== */
.service_area{
    background: #660000;
}
.inner_service {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service_title {
    width: 23%;
    float: left;
    background: #ffffff;
    text-align: center;
    margin: 9px;
}
.service_title:hover{
    background:#76c38f;
    color:#ffffff;
}

.service_title img {
    width: 120px;
    padding-top: 20px;
}
.service_title h2 {
    font-size: 32px;
    padding: 3px 0;
}
.service_title p {
    font-size: 16px;
    padding: 8px;
    padding-bottom: 20px;
}




/* ==
======
===============
=======================
=================================
==========================================
================================================
Work Area CSS
================================================
==========================================
=================================
=======================
===============
=======
== */
.work_area{
    background: #660000;
}

.inner_work {
    text-align: center;
    padding-bottom: 40px;
}
.inner_work h2 {
    background: #ffffff;
    padding: 5px 5px;
    width: 20%;
    margin: 0 auto;
    color: #303030;
    margin-bottom: 22px;
}

.work_images{}
.work_images img {
    width: 290px;
    padding: 13px 13px;
}






/* =========================================
Footer Area CSS
========================================= */
#footer_area {
    background: #303030;
    padding: 45px;
    /* width: 100%; */
}

.inner_footer {
    overflow: hidden;
}

.child_footer {
    padding: 1%;
    margin: 0 1% 10px;
    width: 21%;
    float: left;
}

.child_footer h3 {
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    padding-bottom: 38px;
}

.child_footer h4 {
    color: #979797;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

.child_footer h4 a {
    color: #979797;
    text-decoration: none;
    float: none;
}

.child_footer h4 a:hover {
    color: #76c38f;

}

.child_footer h6 {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.3em;
    color: #76c38f;
}

.child_footer p {
    color: #979797;
    font-size: 14px;
    margin-top: 0px;
    line-height: 1.5;
}

.child_footer p a, .child_footer a {
    color: #76c38f;

    text-decoration: none;
}

.child_footer p a:hover {
    color: #fff;
}
.child_footer a:hover {
    color: #fff;
}


.child_footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.child_footer ul ul {
    display: none;
}

.child_footer li {
    display: block;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.child_footer li:last-child {
    border-bottom: 0px solid;
}

.child_footer li a {
    color: #76c38f;
    font-size: 14px;
    text-decoration: none;
}

.child_footer li a:hover {
    color: #fff;
}

.child_footer input {
    background: #222222;
    border: 0px solid;
    border-radius: 10px;
    padding: 10px 5%;
    margin-bottom: 10px;
    width: 90%;
    color: #f2f2f2;
}

.child_footer textarea {
    background: #222222;
    border: 0px solid;
    border-radius: 10px;
    padding: 10px 5%;
    margin-bottom: 10px;
    width: 90%;
    color: #f2f2f2;
}

.child_footer input[type="submit"] {
    width: 80px;
    color: #000000;
    background:#76c38f ;
    cursor: pointer;
}

.child_footer input[type="submit"]:hover {
    color: #000000;
    background: #f1f1f1;
}







/* =========================================
Copyright Area CSS
========================================= */

#copyright_area {
    background: #2b2b2b;
    padding: 20px 0;
}

.inner_copyright {
    overflow: hidden;
}


.left_copyright {
    float: left;
    width: 60%;
}

.right_copyright {
    float: right;
    width: 40%;
    text-align: right;
}

.inner_copyright p {
    margin: 0;
    color: #979797;
    font-size: 12px;
}